*{
 box-sizing: border-box;
 }
 
h1{
    text-align:center;
    color:red;

} 

h3{

	position: absolute;
	left:200px;
     border: 1px solid black;
     width: 100px;
     height: 25px;
     right: 0;
	top:85px;
	text-align:center;
	
}   
h4{
     position: absolute;
	left:550px;
     border: 1px solid black;
     width: 100px;
     height: 25px;
     right: 0;
	top:103px;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
	
}
h5{
     position: absolute;
	left:200px;
     border: 1px solid black;
     width: 100px;
     height: 25px;
     right: 0;
	top:423px;
	text-align:center;
	
}
.p1{
   background-color:#2196F3;
   padding:20px 20px;
   float:left;
   width:300px;
   }
   
.p2{
   background-color:#f1f1f1;
   padding:20px 20px;
   float:left;
   width:300px;
   }  

.p3{
   background-color:#4CAF50;
   padding:20px 20px;
   float:left;
   width:300px;
   }   
   
@media screen and (max-width:800px)
{
  .p1, .p2, .p3 {
    width=100%;
    overflow:auto;
    margin-right:20px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
     } 
}	